<h1>Recommended users</h1>
<div>
	<ul>
	<%= partial :recommendation, :as => :recommendation, :with => @recommendations %>
	</ul>
	<%= link_to "Recommend another user", resource(@user, :recommendations, :new) %>
</div>