<h1>All users</h1>
<%= tag(:div, :id => 'user_list') do %>
	<% if @users.empty? %>
		<%= tag(:div, "There are no users.") %>
	<% else %>	
		<% @users.each do |user| %>
			<%= tag(:div, user.login, :class => 'user_row') %>
		<% end %>
	<% end %>
<% end =%>