<h1>All users</h1>
<%= tag(:div, :id => 'user_list') do %>
	<% if @users.empty? %>
		<%= tag(:div, "There are no users.") %>
	<% else %>	
		<%= partial :user, :with => @users, :as => :user %>
	<% end %>
<% end =%>