<h2>Welcome to Working with Merb</h2>
<p>
  Working with Merb is a site where Merb developers can be found. Registered users can (or will be able to) do the following:
  <ul>
    <li>give profile data</li>
    <li>recommend each other</li>
    <li>upload their avatars</li>
    <li>state whether they are available for hire</li>
    <li>send messages to each other</li>
    <li>state which country they are from</li>
    <li>hide their email address so that only "proven humans" can access it</li>
  </ul>
</p>
<p><small>Note that the above list also servers as a todo list :) Don't be surprised if some of the list items have not been implemented yet'</small></p>