<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
    <title>Working with Merb</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" charset="utf-8" />
	<%= include_required_css %>
	<%= include_required_js %>
  </head>
  <body>
    <% message.each_key do |msg_key| %>
		<%#= tag(:div, message[msg_key], :class => "message_#{msg_key}") %>
		<%= tag(:h2, message[msg_key], :class => "message_#{msg_key}") %>
	<% end %>
    <%= catch_content :for_layout %>
  </body>
</html>